html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.bara-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.bara-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.bara-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.bara-table,.bara-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.bara-table-all{border:1px solid #ccc}
.bara-bordered tr,.bara-table-all tr{border-bottom:1px solid #ddd}.bara-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.bara-table-all tr:nth-child(odd){background-color:#fff}.bara-table-all tr:nth-child(even){background-color:#f1f1f1}
.bara-hoverable tbody tr:hover,.bara-ul.bara-hoverable li:hover{background-color:#ccc}.bara-centered tr th,.bara-centered tr td{text-align:center}
.bara-table td,.bara-table th,.bara-table-all td,.bara-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.bara-table th:first-child,.bara-table td:first-child,.bara-table-all th:first-child,.bara-table-all td:first-child{padding-left:16px}
.bara-btn,.bara-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.bara-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.bara-btn,.bara-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.bara-disabled,.bara-btn:disabled,.bara-button:disabled{cursor:not-allowed;opacity:0.3}.bara-disabled *,:disabled *{pointer-events:none}
.bara-btn.bara-disabled:hover,.bara-btn:disabled:hover{box-shadow:none}
.bara-badge,.bara-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.bara-badge{border-radius:50%}
.bara-ul{list-style-type:none;padding:0;margin:0}.bara-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.bara-ul li:last-child{border-bottom:none}
.bara-tooltip,.bara-display-container{position:relative}.bara-tooltip .bara-text{display:none}.bara-tooltip:hover .bara-text{display:inline-block}
.bara-ripple:active{opacity:0.5}.bara-ripple{transition:opacity 0s}
.bara-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.bara-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.bara-dropdown-click,.bara-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.bara-dropdown-hover:hover .bara-dropdown-content{display:block}
.bara-dropdown-hover:first-child,.bara-dropdown-click:hover{background-color:#ccc;color:#000}
.bara-dropdown-hover:hover > .bara-button:first-child,.bara-dropdown-click:hover > .bara-button:first-child{background-color:#ccc;color:#000}
.bara-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.bara-check,.bara-radio{width:24px;height:24px;position:relative;top:6px}
.bara-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.bara-bar-block .bara-dropdown-hover,.bara-bar-block .bara-dropdown-click{width:100%}
.bara-bar-block .bara-dropdown-hover .bara-dropdown-content,.bara-bar-block .bara-dropdown-click .bara-dropdown-content{min-width:100%}
.bara-bar-block .bara-dropdown-hover .bara-button,.bara-bar-block .bara-dropdown-click .bara-button{width:100%;text-align:left;padding:8px 16px}
.bara-main,#main{transition:margin-left .4s}
.bara-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.bara-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.bara-bar{width:100%;overflow:hidden}.bara-center .bara-bar{display:inline-block;width:auto}
.bara-bar .bara-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bara-bar .bara-dropdown-hover,.bara-bar .bara-dropdown-click{position:static;float:left}
.bara-bar .bara-button{white-space:normal}
.bara-bar-block .bara-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bara-bar-block.bara-center .bara-bar-item{text-align:center}.bara-block{display:block;width:100%}
.bara-responsive{display:block;overflow-x:auto}
.bara-container:after,.bara-container:before,.bara-panel:after,.bara-panel:before,.bara-row:after,.bara-row:before,.bara-row-padding:after,.bara-row-padding:before,
.bara-cell-row:before,.bara-cell-row:after,.bara-clear:after,.bara-clear:before,.bara-bar:before,.bara-bar:after{content:"";display:table;clear:both}
.bara-col,.bara-half,.bara-third,.bara-twothird,.bara-threequarter,.bara-quarter{float:left;width:100%}
.bara-col.s1{width:8.33333%}.bara-col.s2{width:16.66666%}.bara-col.s3{width:24.99999%}.bara-col.s4{width:33.33333%}
.bara-col.s5{width:41.66666%}.bara-col.s6{width:49.99999%}.bara-col.s7{width:58.33333%}.bara-col.s8{width:66.66666%}
.bara-col.s9{width:74.99999%}.bara-col.s10{width:83.33333%}.bara-col.s11{width:91.66666%}.bara-col.s12{width:99.99999%}
@media (min-width:601px){.bara-col.m1{width:8.33333%}.bara-col.m2{width:16.66666%}.bara-col.m3,.bara-quarter{width:24.99999%}.bara-col.m4,.bara-third{width:33.33333%}
.bara-col.m5{width:41.66666%}.bara-col.m6,.bara-half{width:49.99999%}.bara-col.m7{width:58.33333%}.bara-col.m8,.bara-twothird{width:66.66666%}
.bara-col.m9,.bara-threequarter{width:74.99999%}.bara-col.m10{width:83.33333%}.bara-col.m11{width:91.66666%}.bara-col.m12{width:99.99999%}}
@media (min-width:993px){.bara-col.l1{width:8.33333%}.bara-col.l2{width:16.66666%}.bara-col.l3{width:24.99999%}.bara-col.l4{width:33.33333%}
.bara-col.l5{width:41.66666%}.bara-col.l6{width:49.99999%}.bara-col.l7{width:58.33333%}.bara-col.l8{width:66.66666%}
.bara-col.l9{width:74.99999%}.bara-col.l10{width:83.33333%}.bara-col.l11{width:91.66666%}.bara-col.l12{width:99.99999%}}
.bara-content{max-width:980px;margin:auto}.bara-rest{overflow:hidden}
.bara-cell-row{display:table;width:100%}.bara-cell{display:table-cell}
.bara-cell-top{vertical-align:top}.bara-cell-middle{vertical-align:middle}.bara-cell-bottom{vertical-align:bottom}
.bara-hide{display:none!important}.bara-show-block,.bara-show{display:block!important}.bara-show-inline-block{display:inline-block!important}
@media (max-width:600px){.bara-modal-content{margin:0 10px;width:auto!important}.bara-modal{padding-top:30px}
.bara-dropdown-hover.bara-mobile .bara-dropdown-content,.bara-dropdown-click.bara-mobile .bara-dropdown-content{position:relative}	
.bara-hide-small{display:none!important}.bara-mobile{display:block;width:100%!important}.bara-bar-item.bara-mobile,.bara-dropdown-hover.bara-mobile,.bara-dropdown-click.bara-mobile{text-align:center}
.bara-dropdown-hover.bara-mobile,.bara-dropdown-hover.bara-mobile .bara-btn,.bara-dropdown-hover.bara-mobile .bara-button,.bara-dropdown-click.bara-mobile,.bara-dropdown-click.bara-mobile .bara-btn,.bara-dropdown-click.bara-mobile .bara-button{width:100%}}
@media (max-width:768px){.bara-modal-content{width:500px}.bara-modal{padding-top:50px}}
@media (min-width:993px){.bara-modal-content{width:900px}.bara-hide-large{display:none!important}.bara-sidebar.bara-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.bara-hide-medium{display:none!important}}
@media (max-width:992px){.bara-sidebar.bara-collapse{display:none}.bara-main{margin-left:0!important;margin-right:0!important}}
.bara-top,.bara-bottom{position:fixed;width:100%;z-index:1}.bara-top{top:0}.bara-bottom{bottom:0}
.bara-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.bara-display-topleft{position:absolute;left:0;top:0}.bara-display-topright{position:absolute;right:0;top:0}
.bara-display-bottomleft{position:absolute;left:0;bottom:0}.bara-display-bottomright{position:absolute;right:0;bottom:0}
.bara-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.bara-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.bara-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.bara-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bara-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bara-display-container:hover .bara-display-hover{display:block}.bara-display-container:hover span.bara-display-hover{display:inline-block}.bara-display-hover{display:none}
.bara-display-position{position:absolute}
.bara-circle{border-radius:50%}
.bara-round-small{border-radius:2px}.bara-round,.bara-round-medium{border-radius:4px}.bara-round-large{border-radius:8px}.bara-round-xlarge{border-radius:16px}.bara-round-xxlarge{border-radius:32px}
.bara-row-padding,.bara-row-padding>.bara-half,.bara-row-padding>.bara-third,.bara-row-padding>.bara-twothird,.bara-row-padding>.bara-threequarter,.bara-row-padding>.bara-quarter,.bara-row-padding>.bara-col{padding:0 8px}
.bara-container,.bara-panel{padding:0.01em 16px}.bara-panel{margin-top:16px;margin-bottom:16px}
.bara-code,.bara-codespan{font-family:Consolas,"courier new";font-size:16px}
.bara-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.bara-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.bara-card,.bara-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.bara-card-4,.bara-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.bara-spin{animation:bara-spin 2s infinite linear}@keyframes bara-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.bara-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.bara-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.bara-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.bara-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.bara-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.bara-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.bara-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bara-animate-input{transition:width 0.4s ease-in-out}.bara-animate-input:focus{width:100%!important}
.bara-opacity,.bara-hover-opacity:hover{opacity:0.60}.bara-opacity-off,.bara-hover-opacity-off:hover{opacity:1}
.bara-opacity-max{opacity:0.25}.bara-opacity-min{opacity:0.75}
.bara-greyscale-max,.bara-grayscale-max,.bara-hover-greyscale:hover,.bara-hover-grayscale:hover{filter:grayscale(100%)}
.bara-greyscale,.bara-grayscale{filter:grayscale(75%)}.bara-greyscale-min,.bara-grayscale-min{filter:grayscale(50%)}
.bara-sepia{filter:sepia(75%)}.bara-sepia-max,.bara-hover-sepia:hover{filter:sepia(100%)}.bara-sepia-min{filter:sepia(50%)}
.bara-tiny{font-size:10px!important}.bara-small{font-size:12px!important}.bara-medium{font-size:15px!important}.bara-large{font-size:18px!important}
.bara-xlarge{font-size:24px!important}.bara-xxlarge{font-size:36px!important}.bara-xxxlarge{font-size:48px!important}.bara-jumbo{font-size:64px!important}
.bara-left-align{text-align:left!important}.bara-right-align{text-align:right!important}.bara-justify{text-align:justify!important}.bara-center{text-align:center!important}
.bara-border-0{border:0!important}.bara-border{border:1px solid #ccc!important}
.bara-border-top{border-top:1px solid #ccc!important}.bara-border-bottom{border-bottom:1px solid #ccc!important}
.bara-border-left{border-left:1px solid #ccc!important}.bara-border-right{border-right:1px solid #ccc!important}
.bara-topbar{border-top:6px solid #ccc!important}.bara-bottombar{border-bottom:6px solid #ccc!important}
.bara-leftbar{border-left:6px solid #ccc!important}.bara-rightbar{border-right:6px solid #ccc!important}
.bara-section,.bara-code{margin-top:16px!important;margin-bottom:16px!important}
.bara-margin{margin:16px!important}.bara-margin-top{margin-top:16px!important}.bara-margin-bottom{margin-bottom:16px!important}
.bara-margin-left{margin-left:16px!important}.bara-margin-right{margin-right:16px!important}
.bara-padding-small{padding:4px 8px!important}.bara-padding{padding:8px 16px!important}.bara-padding-large{padding:12px 24px!important}
.bara-padding-16{padding-top:16px!important;padding-bottom:16px!important}.bara-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.bara-padding-32{padding-top:32px!important;padding-bottom:32px!important}.bara-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.bara-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.bara-left{float:left!important}.bara-right{float:right!important}
.bara-button:hover{color:#000!important;background-color:#ccc!important}
.bara-transparent,.bara-hover-none:hover{background-color:transparent!important}
.bara-hover-none:hover{box-shadow:none!important}
/* Colours */
.bara-amber,.bara-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.bara-aqua,.bara-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.bara-blue,.bara-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.bara-light-blue,.bara-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.bara-brown,.bara-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.bara-cyan,.bara-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.bara-blue-grey,.bara-hover-blue-grey:hover,.bara-blue-gray,.bara-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.bara-green,.bara-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.bara-light-green,.bara-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.bara-indigo,.bara-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.bara-khaki,.bara-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.bara-lime,.bara-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.bara-orange,.bara-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.bara-deep-orange,.bara-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.bara-pink,.bara-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.bara-purple,.bara-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.bara-deep-purple,.bara-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.bara-red,.bara-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.bara-sand,.bara-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.bara-teal,.bara-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.bara-yellow,.bara-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.bara-white,.bara-hover-white:hover{color:#000!important;background-color:#fff!important}
.bara-black,.bara-hover-black:hover{color:#fff!important;background-color:#000!important}
.bara-grey,.bara-hover-grey:hover,.bara-gray,.bara-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.bara-light-grey,.bara-hover-light-grey:hover,.bara-light-gray,.bara-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.bara-dark-grey,.bara-hover-dark-grey:hover,.bara-dark-gray,.bara-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.bara-pale-red,.bara-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.bara-pale-green,.bara-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.bara-pale-yellow,.bara-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.bara-pale-blue,.bara-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.bara-text-amber,.bara-hover-text-amber:hover{color:#ffc107!important}
.bara-text-aqua,.bara-hover-text-aqua:hover{color:#00ffff!important}
.bara-text-blue,.bara-hover-text-blue:hover{color:#2196F3!important}
.bara-text-light-blue,.bara-hover-text-light-blue:hover{color:#87CEEB!important}
.bara-text-brown,.bara-hover-text-brown:hover{color:#795548!important}
.bara-text-cyan,.bara-hover-text-cyan:hover{color:#00bcd4!important}
.bara-text-blue-grey,.bara-hover-text-blue-grey:hover,.bara-text-blue-gray,.bara-hover-text-blue-gray:hover{color:#607d8b!important}
.bara-text-green,.bara-hover-text-green:hover{color:#4CAF50!important}
.bara-text-light-green,.bara-hover-text-light-green:hover{color:#8bc34a!important}
.bara-text-indigo,.bara-hover-text-indigo:hover{color:#3f51b5!important}
.bara-text-khaki,.bara-hover-text-khaki:hover{color:#b4aa50!important}
.bara-text-lime,.bara-hover-text-lime:hover{color:#cddc39!important}
.bara-text-orange,.bara-hover-text-orange:hover{color:#ff9800!important}
.bara-text-deep-orange,.bara-hover-text-deep-orange:hover{color:#ff5722!important}
.bara-text-pink,.bara-hover-text-pink:hover{color:#e91e63!important}
.bara-text-purple,.bara-hover-text-purple:hover{color:#9c27b0!important}
.bara-text-deep-purple,.bara-hover-text-deep-purple:hover{color:#673ab7!important}
.bara-text-red,.bara-hover-text-red:hover{color:#f44336!important}
.bara-text-sand,.bara-hover-text-sand:hover{color:#fdf5e6!important}
.bara-text-teal,.bara-hover-text-teal:hover{color:#009688!important}
.bara-text-yellow,.bara-hover-text-yellow:hover{color:#d2be0e!important}
.bara-text-white,.bara-hover-text-white:hover{color:#fff!important}
.bara-text-black,.bara-hover-text-black:hover{color:#000!important}
.bara-text-grey,.bara-hover-text-grey:hover,.bara-text-gray,.bara-hover-text-gray:hover{color:#757575!important}
.bara-text-light-grey,.bara-hover-text-light-grey:hover,.bara-text-light-gray,.bara-hover-text-light-gray:hover{color:#f1f1f1!important}
.bara-text-dark-grey,.bara-hover-text-dark-grey:hover,.bara-text-dark-gray,.bara-hover-text-dark-gray:hover{color:#3a3a3a!important}
.bara-border-amber,.bara-hover-border-amber:hover{border-color:#ffc107!important}
.bara-border-aqua,.bara-hover-border-aqua:hover{border-color:#00ffff!important}
.bara-border-blue,.bara-hover-border-blue:hover{border-color:#2196F3!important}
.bara-border-light-blue,.bara-hover-border-light-blue:hover{border-color:#87CEEB!important}
.bara-border-brown,.bara-hover-border-brown:hover{border-color:#795548!important}
.bara-border-cyan,.bara-hover-border-cyan:hover{border-color:#00bcd4!important}
.bara-border-blue-grey,.bara-hover-border-blue-grey:hover,.bara-border-blue-gray,.bara-hover-border-blue-gray:hover{border-color:#607d8b!important}
.bara-border-green,.bara-hover-border-green:hover{border-color:#4CAF50!important}
.bara-border-light-green,.bara-hover-border-light-green:hover{border-color:#8bc34a!important}
.bara-border-indigo,.bara-hover-border-indigo:hover{border-color:#3f51b5!important}
.bara-border-khaki,.bara-hover-border-khaki:hover{border-color:#f0e68c!important}
.bara-border-lime,.bara-hover-border-lime:hover{border-color:#cddc39!important}
.bara-border-orange,.bara-hover-border-orange:hover{border-color:#ff9800!important}
.bara-border-deep-orange,.bara-hover-border-deep-orange:hover{border-color:#ff5722!important}
.bara-border-pink,.bara-hover-border-pink:hover{border-color:#e91e63!important}
.bara-border-purple,.bara-hover-border-purple:hover{border-color:#9c27b0!important}
.bara-border-deep-purple,.bara-hover-border-deep-purple:hover{border-color:#673ab7!important}
.bara-border-red,.bara-hover-border-red:hover{border-color:#f44336!important}
.bara-border-sand,.bara-hover-border-sand:hover{border-color:#fdf5e6!important}
.bara-border-teal,.bara-hover-border-teal:hover{border-color:#009688!important}
.bara-border-yellow,.bara-hover-border-yellow:hover{border-color:#ffeb3b!important}
.bara-border-white,.bara-hover-border-white:hover{border-color:#fff!important}
.bara-border-black,.bara-hover-border-black:hover{border-color:#000!important}
.bara-border-grey,.bara-hover-border-grey:hover,.bara-border-gray,.bara-hover-border-gray:hover{border-color:#9e9e9e!important}
.bara-border-light-grey,.bara-hover-border-light-grey:hover,.bara-border-light-gray,.bara-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.bara-border-dark-grey,.bara-hover-border-dark-grey:hover,.bara-border-dark-gray,.bara-hover-border-dark-gray:hover{border-color:#616161!important}
.bara-border-pale-red,.bara-hover-border-pale-red:hover{border-color:#ffe7e7!important}.bara-border-pale-green,.bara-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.bara-border-pale-yellow,.bara-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.bara-border-pale-blue,.bara-hover-border-pale-blue:hover{border-color:#e7ffff!important}